<h3>Add recipe</h3>

<form [formGroup]="recipeForm" (ngSubmit)="addRecipe()">
<label for="recipe_name">Recipe Name</label>

<mat-form-field class="autocomplete">
  <input id="recipe_name" type="text" matInput [matAutocomplete]="auto"
         formControlName='recipeName'>

  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngIf="autocompleteNames.length == 0" [value]="null"> ... </mat-option>
    <mat-option *ngFor="let name of autocompleteNames" [value]="name">{{name}}</mat-option>
  </mat-autocomplete>
</mat-form-field>

<button class="btn btn-primary" type="submit">Add</button>
</form>
