<div>
  {{ name }}
  <div class="btn-group btn-group-sm">
    <button type="button" class="btn btn-secondary" [class.active]="consumable.grade == 'D'" (click)="setGrade('D')">D</button>
    <button type="button" class="btn btn-secondary" [class.active]="consumable.grade == 'C'" (click)="setGrade('C')">C</button>
    <button type="button" class="btn btn-secondary" [class.active]="consumable.grade == 'B'" (click)="setGrade('B')">B</button>
    <button type="button" class="btn btn-secondary" [class.active]="consumable.grade == 'A'" (click)="setGrade('A')">A</button>
    <button type="button" class="btn btn-secondary" [class.active]="consumable.grade == 'S'" (click)="setGrade('S')">S</button>
  </div>
  <input type="number" (change)="setAmount($event)" />
</div>
